{{ define "main" }}
  <section class="py-16">
    <div class="container mx-auto px-4">
      {{ with .Title }}
        <h2 class="text-primary mb-16 text-center text-6xl font-bold">{{ . }}</h2>
      {{ end }}
      {{ with .Params.description }}
        <p class="mx-auto mb-16 text-center">{{ . }}</p>
      {{ end }}
      <div class="flex flex-col items-start xl:flex-row-reverse">
        {{ $imgs := .Resources.ByType "image" }}
        {{ with (first 1 $imgs) }}
          {{ $img := index . 0 }}
          <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" class="mx-auto w-full max-w-xl mb-16 rounded-4xl border-8 border-(--color-primary)" width="{{ $img.Width }}" height="{{ $img.Height }}">
        {{ end }}
        {{ with .Content }}
          <div class="prose prose-lg mx-auto max-w-[37rem]">
            {{ . }}
          </div>
        
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
